<h1>All Books</h1>

<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <p><%= link_to book.title, book_path(book) %></p>
    <p><%= book.pages %></p>
    <p><%= book.publication_year %></p>
    <% book.authors.each do |author| %>
      <p><%= author.name %></p>
    <% end %>
    <p>Average Rating: <%=book.avg_rating%></p>
    <p>Number of Reviews: <%=book.reviews_count%></p>
  </section>
<% end %>

<section id="statistics">

  <section id="statistics-column1">
    <h4>Top Rated Books</h4>
  </section>

  <section id="statistics-column2">
    <h4>Lowest Rated Books</h4>
  </section>

  <section id="statistics-column3">
    <h4>Users with Most Reviews</h4>
  </section>

</section>
