<h1>Add a New Book</h1>
<section class = "form">
  <%= form_for @book do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title, required: true %></p>

  <p><%= f.label :publication_year %></p>
  <p><%= f.number_field :publication_year, required: true %></p>

  <p><%= f.label :pages%></p>
  <p><%= f.number_field :pages, required: true %></p>

  <p><%= f.label :cover_art %></p>
  <p><%= f.text_field :cover_art %></p>

  <p><%= f.label :authors %></p>
  <p><%= f.text_field :authors, required: true %></p>

  <p><%= f.submit %></p>
   <% end %>

</section>
