
<h1><%= @book.title %></h1>
<p class="link"><%= link_to 'Delete Book', book_path(@book), method: :delete %></p>
<p><%= @book.pages %></p>
<p><%= @book.publication_year %></p>
<% @book.authors.each do |author| %>
  <p><%= link_to author.name, author_path(author) %></p>
<% end %>
<img src="<%= @book.cover_art %>" alt="<%= @book.title %> cover art">

<% @book.reviews.each do |review| %>
<section id="review-<%= review.id%>">
  <p>User Name: <%= link_to review.user, user_path(review.user) %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Title: <%= review.title %></p>
  <p>Review: <%= review.description %></p>
<% end %>
</section>

<%= link_to 'Add New Review', new_book_review_path(@book) %>

<section class="reviews-statistics">
  <p id="average-rating">Average Rating: <%= @reviews_avg_rating %></p>
  <div id="top-three-reviews">
    Top Reviews
    <ul><% @book.sort_reviews_by_rating(:desc).each do |review|  %>
        <li>Rating: <%= review.rating %></li>
        <li>User: <%= link_to review.user, user_path(review.user)%></li>
        <li><%= review.title %></li>
        <% end %>
    </ul>
  </div>
  <div id="bottom-three-reviews">
    Worst Reviews
    <ul><% @book.sort_reviews_by_rating(:asc).each do |review| %>
      <li>Rating: <%= review.rating %></li>
      <li>User: <%= link_to review.user, user_path(review.user) %></li>
      <li><%= review.title %></li>
      <% end %>
    </ul>
  </div>
</section>
