<h1>Add a New Review</h1>
<section class = "form">
  <%= form_for [@book, @review] do |f| %>
    <p><%= f.label :user%></p>
    <p><%= f.text_field :user, required: true %></p>

    <p><%= f.label :rating %></p>
    <p><%= f.number_field :rating, required: true %></p>

    <p><%= f.label :title %></p>
    <p><%= f.text_field :title, required: true %></p>

    <p><%= f.label :description %></p>
    <p><%= f.text_field :description, required: true %></p>

    <p><%= f.submit %></p>
  <% end %>
</section>
